body{
    text-align:center;
}
a{
    scroll-behavior: smooth;
}
li{
 margin-left:20px;
 float:none;
 text-decoration: none;
}
nav{
    display:inline;
}
input {
    background: grey;
}